<div class="container">
  <div id="header">
  </div>
</div>

<div id="items">
  <%= render partial: "shared/items", locals: { items: @items } %>
</div>

<% if @items.next_page %>
  <div class="row">
    <div class="center" id="more-items">
      <%= link_to "Load More Items", items_path(page: @items.next_page), class: "load-more-items", remote: true %>
    </div>
  </div>
<% end %>
