nav {
  margin-bottom: 0.75rem;
}

nav .nav-wrapper { height: 95% !important; }

.items img {
  width: auto;
  height: auto;
}

.items :nth-child(4n+1) {
  clear: left;
}

.item .title {
  float: left;
}
